[% USE raw %]
[% USE Asset %]
[% PROCESS 'i18n.inc' %]
[% SET footerjs = 1 %]
[% USE Branches %]
[% USE Categories %]
[% USE KohaDates %]
[% USE ItemTypes %]
[% PROCESS 'html_helpers.inc' %]

[% INCLUDE 'doc-head-open.inc' %]
<title>Restore bibliographic records tool</title>
[% INCLUDE 'doc-head-close.inc' %]
</head>

<body id="tools_restore_records" class="tools">
  [% INCLUDE 'header.inc' %]
  [% INCLUDE 'cat-search.inc' %]

[% WRAPPER 'sub-header.inc' %]
  [% WRAPPER breadcrumbs %]
    [% WRAPPER breadcrumb_item %]
    <a href="/cgi-bin/koha/cataloguing/cataloging-home.pl">Cataloging</a>
    [% END %]
    [% IF ( view == 'form' || view == 'report' ) %]
      [% WRAPPER breadcrumb_item %]
        <a href="/cgi-bin/koha/cataloguing/restore_records.pl">Restore bibliographic records tool</a>
      [% END %]
    [% ELSE %]
      [% WRAPPER breadcrumb_item bc_active= 1 %]
        <span>Restore bibliographic records tool</span>
      [% END %]
    [% END %]
  [% END #/ WRAPPER breadcrumbs %]
[% END #/ WRAPPER sub-header.inc %]

  <div class="main container-fluid">
    <div class="row">
      <div class="col-sm-10 col-sm-push-1">
        <main>
          [% INCLUDE 'messages.inc' %]

          <h1>Restore deleted bibliographic records tool</h1>
          [% IF ( no_biblionumber ) %]
          <div class="dialog alert">
            <h1> No biblionumber passed for restore operation.</h1>
            <p>
              <a href="/cgi-bin/koha/tools/restore_records.pl" class="btn btn-primary">Back to restore bibliographic records</a>
            </p>
          </div>
          [% END %]
          [% IF ( restored_records ) %]
          <div class="dialog message">
            [% FOREACH record IN restored_records %]
              <h1>Record <a href="/cgi-bin/koha/catalogue/detail.pl?biblionumber=[% record | uri %]" target="_blank">[% record | html %]</a> restored successfully</h1>
            [% END %]
            [% SET biblionumbers = restored_records.join(', ') %]
            <form action="/cgi-bin/koha/tools/restore_items.pl" method="get">
                <input type="hidden" name="biblionumbers" value="[% biblionumbers | html %]" />
                <button type="submit">Restore items</button>
            </form>
            <p>
              <a href="/cgi-bin/koha/tools/restore_records.pl" class="btn btn-primary">Back to restore bibliographic records</a>
            </p>
            </div>
          [% END %]
          [% IF ( errors ) %]
          <div class="dialog alert">
            <h1> Some bibliographic records could not be restored:</h1>
            [% FOREACH record IN errors %]
              <h1>An error occurred while restoring bibliographic record [% record | html %]</h1>
          </div>
          [% END %]
          <p>
            <a href="/cgi-bin/koha/tools/restore_records.pl" class="btn btn-primary">Back to restore bibliographic records</a>
          </p>
        [% END %]

          [% IF op == 'form' %]
          <form method="post" action="/cgi-bin/koha/tools/restore_records.pl">
            [% INCLUDE 'csrf-token.inc' %]
            <input type="hidden" name="op" value="cud-list" />
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <h4 id="deleted_from">Show bibliographic records deleted between:</h4>
                <div>
                  <input type="text" size="10" id="deleted_from" name="deleted_from" data-default-date='today' class="flatpickr"  data-flatpickr-pastinclusive="false" required="required" />
                  <span class="required">Required</span>
                  <div class="hint">[% INCLUDE 'date-format.inc' %]</div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <h4 id="deleted_to">And:</h4>
                <div>
                  <input size="10" id="deleted_to" name="deleted_to" data-default-date='today' type="text" class="flatpickr" data-flatpickr-pastinclusive="false" required="required" />
                  <span class="required">Required</span>
                  <div class="hint">[% INCLUDE 'date-format.inc' %]</div>
                </div>
              </div>
            </div>
            <br>
            <div class="btn-group">
              <button type="submit" class="btn btn-primary">Show</button>
            </div>
          </form>

          [% END %]

          [% IF op == 'list' %]
            [% IF records.size %]
            <form action="/cgi-bin/koha/tools/restore_records.pl" method="post" id="process">
              <table id='deletedbiblios_table' class="records">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Biblionumber</th>
                    <th>Deleted on</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Date created</th>
                    <th>Record-level itemtype</th>
                    <th>Deleted items</th>
                  </tr>
                </thead>
                <tbody>
                  <div class="btn-toolbar selections-toolbar">
                    <a id="selectall" href="#"><i class="fa fa-check"></i> Select all</a>
                    | <a id="clearall" href="#"><i class="fa fa-times"></i> Clear all</a>
                  </div>
                  [% FOREACH record IN records %]
                  <tr>
                    <td><input type="checkbox" name="record_id" id="record_id_[% record.biblionumber | html %]"
                        value="[% record.biblionumber | html %]" /></td>
                    <td>[% record.biblionumber | html %]</td>
                    <td>[% record.timestamp | html %]</td>
                    <td>
                    [% record.title | html %] [% record.subtitle | html %] [% record.part_name | html %] [% record.part_number | html %]
                    [% IF record.main_biblio_heading || record.main_biblio_title %]
                    <br>In:
                    [% END %]
                    [% IF record.main_biblio_heading %]
                    [% record.main_biblio_heading | html %]
                    [% END %]
                    [% IF record.main_biblio_title %]
                    [% record.main_biblio_title | html %]
                    [% END %]
                    </td>
                    <td>[% record.author | html %]</td>
                    <td>[% record.datecreated | html %]</td>
                    <td>[% record.itemtype | html %]</td>
                    <td>
                      <button type="button" onclick="toggleDeletedItems(this, '[% record.biblionumber | html %]')">
                        View/Hide deleted items
                      </button>
                      <div id="deleted_items_[% record.biblionumber | html %]" style="display: none; margin-top: 10px;">
                        <h3>Deleted items</h3>
                        <ul>
                          [% FOREACH item IN record.items %]
                          <li>Itemnumber: [% item.itemnumber | html %],
                            Barcode: [% item.barcode | html %],
                            [% IF item.enumchron %]
                            Enumchron: [% item.enumchron | html %],
                            [% END %]
                            Date Deleted: [% item.timestamp | html %],
                            Holdingbranch: [% item.holdingbranch | html %], Homebranch: [% item.homebranch | html %]</li>
                          [% END %]
                        </ul>
                      </div>
                    </td>
                  </tr>
                  [% END %]
                </tbody>
              </table>

              <fieldset class="action">
                [% INCLUDE 'csrf-token.inc' %]
                <input type="hidden" name="op" value="cud-restore" />
                <input type="submit" id="restore_selected" class="btn btn-primary" value="Restore selected records" />
                <a class="cancel" href="/cgi-bin/koha/tools/restore_records.pl">Cancel</a>
              </fieldset>
            </form> <!-- /#process -->
            [% ELSE %]
            <p>No records found.</p>
            <p>
              <a href="/cgi-bin/koha/tools/restore_records.pl" class="btn btn-primary">Back to restore bibliographic records</a>
            </p>
            [% END %]
          [% END %]

          [% MACRO jsinclude BLOCK %]
          [% Asset.js("js/tools-menu.js") | $raw %]
          [% INCLUDE 'calendar.inc' %]
          [% INCLUDE 'datatables.inc' %]
          <script>
            $(document).ready(function () {
              var my_table = $("#deletedbiblios_table").dataTable($.extend(true, {}, dataTablesDefaults, {
                // dataTablesDefaults contain default options and strings defined in datables-strings.inc
                // You can put your specific datatables options here
                "columnDefs": [
                  { "targets": [0, 7], "orderable": false, "searchable": false },
                  { "targets": [1], "type": "num-fmt" },
                  { "targets": [2], "type": "string" },
                  { "targets": [3], "type": "string" },
                  { "targets": [4], "type": "date" },
                  { "targets": [5], "type": "datetime" }
                ],
                order: [[5, "desc"]],


              }));

              var $restoreButton = $("#restore_selected");

              // Function to toggle the button state
              function toggleRestoreButton() {
                  var hasChecked = $("#deletedbiblios_table").find("input[type='checkbox'][name*='record_id']:checked").length > 0;
                  $restoreButton.prop("disabled", !hasChecked);
              }

              // Initial state of the restore button
              toggleRestoreButton();

              $("#deletedbiblios_table").on("change", "input[type='checkbox'][name*='record_id']", function () {
                  toggleRestoreButton();
              });

              // Select all checkboxes
              $("#selectall").click(function (e) {
                  e.preventDefault();
                  $(".records input[type='checkbox']").each(function () {
                      $(this).prop("checked", true);
                  });
                  toggleRestoreButton();
              });

              // Clear all checkboxes
              $("#clearall").click(function (e) {
                  e.preventDefault();
                  $(".records input[type='checkbox']").each(function () {
                      $(this).prop("checked", false);
                  });
                  toggleRestoreButton();
              });

              // Uncheck all checkboxes and disable the restore button on pagination
              $("#deletedbiblios_table").on("page.dt", function () {
                  $(".records input[type='checkbox']").each(function () {
                      $(this).prop("checked", false);
                  });
                  toggleRestoreButton();
              });
            });

            function toggleDeletedItems(button, biblionumber) {
              const div = document.getElementById(`deleted_items_${biblionumber}`);
              if (div.style.display === 'none' || div.style.display === '') {
                div.style.display = 'block';
              } else {
                div.style.display = 'none';
              }
            }

            $("#selectall").click(function (e) {
              e.preventDefault();
              $(".records input[type='checkbox']").each(function () {
                $(this).prop("checked", true);
              });
            });

            $("#clearall").click(function (e) {
              e.preventDefault();
              $(".records input[type='checkbox']").each(function () {
                $(this).prop("checked", false);
              });
            });

            $("#restore_selected").on("click", function () {
              var nb_checked = $("#deletedbiblios_table").find("input[type='checkbox'][name*='record_id']:checked").size();
              if (nb_checked == 0) {
                alert(_("No records have been selected."));
                return false;
              }
            });

          </script>

          [% END %]

          [% INCLUDE 'intranet-bottom.inc' %]